@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000322;
  }
}

html {
  font-size: 100%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000326;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000331;
  }
}

body {
  background: white url(/img/body-bg.png) repeat-x left -65px;
  font-family: georgia, 'helvetica neue', Helvetica, Arial, sans-serif;
  color: #444444;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000337;
  }
}

a {
  color: #bc2932;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000338;
  }
}

a:hover {
  color: #d6424b;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000340;
  }
}

h1,
h2,
h3,
h4 {
  font-family: georgia, serif;
  margin: 1rem 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000344;
  }
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a,
h4,
h4 a {
  color: #4c577e;
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000349;
  }
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: #bc2932;
  text-decoration: underline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000355;
  }
}

h2,
h3,
h4 {
  margin-bottom: .5rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000357;
  }
}

h1 {
  font-size: 2.5rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000358;
  }
}

h2 {
  font-size: 2.0rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000359;
  }
}

h3 {
  font-size: 1.6rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000360;
  }
}

h4 {
  font-size: 1.4rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000362;
  }
}

p,
pre {
  font-size: 1rem;
  margin: .8rem 0 1rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000367;
  }
}

ul,
ol {
  margin: .8rem 0 1rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000388;
  }
}

.container {
  margin: 0 auto;
  min-width: 120px;
  max-width: 1200px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000393;
  }
}

.container .site {
  margin: 2rem 1.5rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000398;
  }
}

#header {
  border-bottom: 3px solid #9c9c9c;
  padding: 1.0rem 0 .8rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003102;
  }
}

#header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 2.8rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003107;
  }
}

#header h1 small {
  font-size: 1.4rem;
  display: block;
  color: #9c9c9c;
  font-style: italic;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003113;
  }
}

#footer {
  background-color: #e9e9e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e9e9e9), to(white));
  background-image: -webkit-linear-gradient(#e9e9e9, white);
  border-top: 1px solid gainsboro;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \000035;
  }
}

#footer:before,
#footer:after {
  content: " ";
  display: table;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000310;
  }
}

#footer:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000315;
  }
}

#footer {
  *zoom: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003119;
  }
}

#footer .contact {
  width: 50%;
  float: left;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003125;
  }
}

ul.posts {
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003129;
  }
}

article.post {
  margin: 2em 0 2em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003130;
  }
}

article.post::after {
  content: '~';
  display: block;
  text-align: center;
  font-size: 4rem;
  color: gainsboro;
  margin: 1rem 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003142;
  }
}

article.post header .meta,
article.post footer {
  font-family: "trebutchet ms","lucida grande",verdana,sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  padding: .5rem 0 .4rem;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \000035;
  }
}

article.post header .meta:before,
article.post header .meta:after,
article.post footer:before,
article.post footer:after {
  content: " ";
  display: table;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000310;
  }
}

article.post header .meta:after,
article.post footer:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000315;
  }
}

article.post header .meta,
article.post footer {
  *zoom: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003151;
  }
}

article.post header .meta,
article.post header .meta a,
article.post footer,
article.post footer a {
  color: #9c9c9c;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003156;
  }
}

article.post header .meta {
  border-bottom: 3px double gainsboro;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003160;
  }
}

article.post header .meta .tags ul {
  display: inline;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003165;
  }
}

article.post header .meta .tags ul li {
  display: inline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003168;
  }
}

article.post header .meta .tags ul li:after {
  content: ", ";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003171;
  }
}

article.post header .meta .tags ul li:last-child:after {
  content: "";
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003178;
  }
}

article.post header .meta time {
  float: right;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003181;
  }
}

article.post header .meta time .year {
  color: #c2c2c2;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003186;
  }
}

article.post footer {
  padding-bottom: .2rem;
  border-bottom: 1px solid gainsboro;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003190;
  }
}

article.post footer a {
  text-decoration: none;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \00003193;
  }
}

article.post footer a:hover {
  color: #bc2932;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \000035;
  }
}

article.post .content:before,
article.post .content:after {
  content: " ";
  display: table;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000310;
  }
}

article.post .content:after {
  clear: both;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/mixins\.scss;
  }

  line {
    font-family: \0000315;
  }
}

article.post .content {
  *zoom: 1;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/myrlund\/src\/webapps\/myrlund\.github\.io\/app\/_scss\/main\.scss;
  }

  line {
    font-family: \0000379;
  }
}

article.post .content .img-right {
  float: right;
  margin: .5rem 0 1rem;
  margin-left: 2rem;
}