<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} · {% endif %}Jonas Myrlund</title>
    
    <link rel="stylesheet/less" href="/stylesheets/less/styles.less">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.0/less-1.3.0.min.js"></script>
    
    <!-- <link rel="stylesheet" href="stylesheets/styles.min.css"> -->
    
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/bootstrap-collapse.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body class="{{ page.name }}">
    
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <nav class="container">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <h1 class="brand">
            <a href="/">Jonas Myrlund</a>
            <small>and his mindless mind dumps</small>
          </h1>
          
          <div class="nav-collapse">
            <ul class="nav pull-right">
              <li><a href="http://twitter.com/myrlund" class="">Follow me on Twitter</a></li>
              <li><a href="https://github.com/myrlund" class="">My projects on GitHub &rarr;</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header><!-- end header -->

    <div class="container">
      
      <section id="mainarea" class="row">

        {{content}}
        
        <aside class="author span4">
          {% assign author = site.authors.myrlund %}
          {% include author.html %}
        </aside>
        
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
    
  </body>
</html>